/* Đặt nền và căn giữa nội dung */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a3e82;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://utt.edu.vn/uploads/file-manager/images/A1UTT-1.jpg'); /* Đặt hình nền */
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #000000;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}
